body, p{
    margin: 0;
    color: #1A3238;
    padding-bottom: 1.618em;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    line-height: 1.5em;
}
body{
    background-color: #F4F9F0;	
}
/* ==========================================================================
   02. HEADER & NAVIGATION
   ========================================================================== */

/*------------------------------------------*/
/*	 Logo Image
/*------------------------------------------*/

.navbar-brand {
	padding: 15px 15px 10px;
	font-size: 2em;
	color: #000;	
}

/*------------------------------------------*/
/*	 Navigation Menu
/*------------------------------------------*/

.navbar {
	background-color: #F4F9F0;
	border: 0px;
	border-bottom: 1px solid #57be76;
}

.navbar-nav > li > a {
	color: #333;
    display: block;
	padding: 0 15px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 65px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a.selected-nav {
	background: none;
	color: #428bca;
}

/*------------------------------------------*/
/*	 Responsive Menu
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 12px 30px 12px 0;
    background-color: none;
	border: 1px solid #444;
}

.navbar-toggle .icon-bar {
	background-color: #444;
	height: 2px;
}
/*------------------------------------------*/
/*	 Header Social Icons
/*------------------------------------------*/

#header_icons {
	margin:3px 0;
}

.header-socials {
	display: inline-block;
}

.header-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	line-height: 70px;
}

.head_social {
    width: 40px;
    height: 40px;
	text-align: center;
	color: #1A1E23;
	font-size: 20px;
    line-height: 40px;
	margin: 0 5px;
	background-color: #F4F9F0;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.action{
	padding-top: 1%;
	background-color: rgba(87,178,118,1);
}
.inicio {
    background-color: #8CDDEE;
    font-size: 2em;
	padding-top: 5%;
	border-bottom: 1px solid #57be76;
}
.inicio > .container > h1{
	font-size: 3em;
	font-weight: bolder;
	margin-top: 2em;
}
.inicio > .container > h2{
	margin-top: 2em;
	margin-bottom: 2em;
}
.inicio > .container > p{
	font-style: italic;
}
.twitter {
    background-color: #F4F9F0;
    font-size: 2em;
	border-bottom: 1px solid #57be76;
}
.twitter > .container > h1{
	font-size: 2.5em;
	font-weight: bolder;
	margin-top: 1em;
}
.twitter > .container > h2{
	margin-top: 1.5em;
	margin-bottom: 2em;
}
.twitter > .container > p{
	font-style: italic;
	margin-top: 1em;
}
.mundo {
    background-color: #8CDDEE;
    color:black;
    font-size: 2em;
	border-bottom: 1px solid #57be76;
}
.mundo > .container > h1{
	font-size: 2.5em;
	font-weight: bolder;
	margin-top: 1em;
}
.mundo > .container > h2{
	margin-top: 1.5em;
    color:black;
	margin-bottom: 2em;
}
.mundo > .container > p{
	font-style: italic;
    color:black;
	margin-top: 1em;
}
.sponsors {
    background-color: #8CDDEE;
    font-size: 2em;
	padding-top: 5%;
	border-top: 1px solid #57be76;
}
.button {
    background-color: #57B26E;
    text-decoration: none;
    color: #F4F9F0;
    font-size: 1.2em;
    padding: 1.3483333333em;
    display: block;
    text-align: center;
    width: 100%;
    transition: linear 0.5s;
    border-radius: 4px;
}
.button:focus, .button:active, .button:hover {
    background-color: rgba(87,178,118,0.8);
    color: #F4F9F0;
    transition: linear 0.5s;
    text-decoration: underline;
}
.twitter-button{
    background-color: #428bca;
}
.eventos-button{
    background-color: #F4F9F0;	
    color: black;
}
.que-es{
	margin: 2em auto;
}
.que-es > .col{
	background-color: #428bca;
	padding: 3em;
	width: 20%;
	font-size: 3em;	
}
.que-es > h1{
	padding-top: 1em;
	padding-bottom: 1em;
}
.que-es-text{
	background-color: #428bca;
	color: #F4F9F0;
	padding: 3em;
	font-size: 1.5em;
	height: 15em;
}
