
/*Template Name: Crossway - Startup Landing Page Template
Theme URL: http://themeforest.net/user/DSA79/
Description: Crossway - Startup Landing Page Template
Author: DSA79
Author URL: http://themeforest.net/user/DSA79
Version: 1.1.0
Website: www.dsathemes.com
Tags: responsive, html5 template, one page, landing, startup, business, company, corporate, creative
*/



/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Intro      			   */
/*   04 - About        			   */
/*   05 - Features                 */
/*   06 - FAQs		               */
/*   07 - Clients                  */
/*   08 - Call to Action           */
/*   09 - Footer         		   */
/*   10 - Scroll to Top	   		   */
/*   11 - Contact Form Response    */



/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway/Raleway-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('font/Raleway/Raleway-Medium.ttf') format("truetype");
}

body, p{
	font-size: 18px;
	font-family: "Raleway";
	text-align: justify;
	line-height: 2em;
}
strong{
	font-family: "Raleway-SemiBold";

}
section{
	padding-bottom: 3%;
	border-top: 1px solid #ddd;
}

/*------------------------------------------*/
/*	 Preload Animation
/*------------------------------------------*/

#preloader{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:99999;
	background-color:#fff;
}

#status{
	position:absolute;
	top:50%;
	left:50%;
	margin:-100px 0 0 -100px;
	width:200px;
	height:200px;
	background-image:url(../img/icons/loader.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-size:75px 75px;
}

#content-wrapper {
	margin-top: 65px;
}

/*------------------------------------------*/
/*	 Parallax Settings
/*------------------------------------------*/

.intro-parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
}

#intro {
	padding-top: 0;
	padding-bottom: 0;

	background-image: url(../img/parallax_bg/intro_bkg.jpg);
}

.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#features {
	/*background-image: url(../img/parallax_bg/features_bkg.jpg); */
	background-image: url(../img/queremos.gif);
}
#features h1{
	padding-bottom: 5%;
}
#features .container{
    background-color: rgba(255,255,255,0.7);
}

#call-to-action {
	background-image: url(../img/parallax_bg/call_to_action_bkg.jpg);
}

/*------------------------------------------*/
/*	 Headers
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Raleway-SemiBold";
}

/*------------------------------------------*/
/*	 Link Setting
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #d75e61;
	text-decoration: none;
}

a:focus {
	color: #d75e61;
	outline: none;
	border: none;
	text-decoration: none;
}

/*------------------------------------------*/
/*	 Lists
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: inside;
}
ul.assistants {
	list-style: initial;
	list-style-position: inside;
}

/*------------------------------------------*/
/*	 Section Titlebar
/*------------------------------------------*/

.titlebar {
	margin-top: 40px;
	margin-bottom: 40px;
}

.titlebar h1 {
	color: #000;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
	text-align: center;
}

.titlebar p {
	color: #666;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}



/* ==========================================================================
   02. HEADER & NAVIGATION
   ========================================================================== */

/*------------------------------------------*/
/*	 Logo Image
/*------------------------------------------*/

.navbar-brand {
	padding: 15px 15px 10px;
	font-size: 2em;
	color: #000;	
}

/*------------------------------------------*/
/*	 Navigation Menu
/*------------------------------------------*/

.navbar {
	background-color: #f0f0f0;
	border: 0px;
}

.navbar-nav > li > a {
	color: #333;
    display: block;
	padding: 0 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 65px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a.selected-nav {
	background: none;
	color: #428bca;
}

/*------------------------------------------*/
/*	 Responsive Menu
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 12px 30px 12px 0;
    background-color: none;
	border: 1px solid #444;
}

.navbar-toggle .icon-bar {
	background-color: #444;
	height: 2px;
}



/* ==========================================================================
   03. INTRO
   ========================================================================== */

#intro {
	/*padding-top: 80px;*/
	/*padding-bottom: 80px;*/
	color: #fff;
}

/*------------------------------------------*/
/*	  Intro Section Description
/*------------------------------------------*/

#intro_description h1 {
	padding-top: 1em; /*Added*/
	font-size: 40px;
	margin-bottom: 30px;
}

.intro_feature {
	margin-bottom: 20px;
	background: rgba(12,12,12,.8);
    padding: 1em 2em;
    margin-bottom: 10%;
    border-radius: 5px;
}

.intro_feature h4 {
	font-weight: 600;
}

.intro_feature i {
	margin-right: 5px;
}

.intro_feature p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5em;
	/*padding-left: 25px;*/
}
.intro_feature h3 {
	line-height: 1.5em;
}
.intro_feature a {
	color: #d75e61;
	text-decoration: underline;
}
.intro_feature a:hover, .intro_feature a:focus{
	color: #3871C6;
	text-decoration: underline;
}



/*------------------------------------------*/
/*	  Intro Section Button
/*------------------------------------------*/

.intro_button {
	margin-top: 60px;
}

/*------------------------------------------*/
/*	  Register Form
/*------------------------------------------*/

#intro_form {
	padding-left: 100px;
	padding-top: 150px; /*Added*/
}


/*------------------------------------------*/
/*	  Register Form Input
/*------------------------------------------*/

.form_register .form-control {
	height: 46px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
textarea {
	color: #444;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.form_register textarea {
	min-height:140px;
}

/*------------------------------------------*/
/*	   Register Form Error Message
/*------------------------------------------*/

.error {
	color: #fc0000;
	font-size: 13px;
	margin-bottom: 20px;
}



/* ==========================================================================
   04. ABOUT
   ========================================================================== */

#about-1 {
	padding-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

#about-2 {
	padding-top: 70px;
	padding-bottom: 80px;
}

#about-1 .titlebar {
	margin-bottom: 30px;
}

#about-1 h4, #about-2 h4  {
	font-weight: 600;
	margin-bottom: 15px;
}

/*------------------------------------------*/
/*	  About-1 Text
/*------------------------------------------*/

#about-1-text {
	padding-right: 35px;
}

/*------------------------------------------*/
/*	  Accordion
/*------------------------------------------*/

#accordion_holder {
	margin-top: 40px;
}

.accordion {
	margin-bottom: 40px;
}

#text_1,
#text_2,
#text_3,
#text_4 {
	width: 100%;
	display: block;
	float: left;
	padding: 0;
	margin: 3px 0;
	cursor: pointer;
}

.accordion a {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding: 10px 40px 10px 15px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	background: rgba(170, 170, 170, 0.15) url(../img/icons/open.png) no-repeat center right;
}

.accordion li.active>a {
	background: rgba(170, 170, 170, 0.15) url(../img/icons/close.png) no-repeat center right;
	color: #151515;
	box-shadow: none;
}

/*------------------------------------------*/
/*	  Accordion Answer
/*------------------------------------------*/

.accordion li div {
	background: #fff;
	line-height: 22px;
	padding: 10px 10px;
	margin-bottom: 5px;
	display: block;
	clear: both;
	float: left;
}

/*------------------------------------------*/
/*	 Video Holder
/*------------------------------------------*/

#video_holder p {
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	  Video Content Settings
/*------------------------------------------*/

.video-block {
	position: relative;
	padding-bottom: 54.25%;
	padding-top: 20px;
	margin-top: 20px;
	height: 0;
	overflow: hidden;
}

.video-block iframe,
.video-block object,
.video-block embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

/*------------------------------------------*/
/*	 About-2 Text
/*------------------------------------------*/

#about-2-text {
	padding-left: 60px;
}

.flexslider .slides img {
	float: left;
    margin-right: 15px;
    margin-left: 6px;
    width: 75px;
	box-shadow: 0 0 5px rgba(140, 140, 140, 0.8);
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

/* ==========================================================================
   05. FEATURES
   ========================================================================== */

#features {
	padding-top: 60px;
	padding-bottom: 30px;
}

/*------------------------------------------*/
/*	  Feature Box
/*------------------------------------------*/

.feature-box {
	margin-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

/*------------------------------------------*/
/*	  Feature Box Icon
/*------------------------------------------*/

.feature-box-icon {
    background-color: #666;
    background-color: #D75D71;
    display: block;
    width: 60px;
    height: 60px;
    /*position: absolute;*/
    left: 0px;
    top: 10px;
    border-radius: 30px;
    color: #FFF;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10%;
}

/*------------------------------------------*/
/*	  Feature Box Content
/*------------------------------------------*/

.feature-box-content h4 {
		font-family: "Raleway-SemiBold";
	padding-top: 5%;
	padding-bottom: 5%;
}
.feature-box-content p {
	padding-left: 5%;
	padding-right: 5%;
}



/* ==========================================================================
   07. conferences
   ========================================================================== */
.conferences{
	background-color: rgba(217, 229, 249, 0.5);
}

.conferences-titlebar {
	position: relative;
}
.titulo-socrates{
	margin-top: 5%;
}
.titulo-socrates>h3, .titulo-socrates>p{
	margin-top: 2em;
	margin-bottom: 2em;
}


/* ==========================================================================
   09. FOOTER
   ========================================================================== */

#footer {
	background-color: #1A1E23;
	padding: 60px 0 40px;
}

#footer h1{
	color: #999;
	padding: 5% auto;
	font-size: 30px; 
}

/*------------------------------------------*/
/*	 Footer Navigation Menu
/*------------------------------------------*/

.footer-nav li {
	padding: 5px 10px 10px;
}

.footer-nav li a {
	color: #999;
	font-size: 15px;
}

.footer-nav li a:hover,
.footer-nav li a:focus {
	color: #428bca;
}

/*------------------------------------------*/
/*	 Footer Social Icons
/*------------------------------------------*/

#footer_icons {
	margin:3px 0;
}

.footer-socials {
	display: inline-block;
}

.footer-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	line-height: 70px;
}

.foo_social {
    width: 40px;
    height: 40px;
	text-align: center;
	color: #1A1E23;
	font-size: 20px;
    line-height: 40px;
	margin: 0 5px;
	background-color: #999;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
/*------------------------------------------*/
/*	 Header Social Icons
/*------------------------------------------*/

#header_icons {
	margin:3px 0;
}

.header-socials {
	display: inline-block;
}

.header-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	line-height: 70px;
}

.head_social {
    width: 40px;
    height: 40px;
	text-align: center;
	color: #1A1E23;
	font-size: 20px;
    line-height: 40px;
	margin: 0 5px;
	background-color: #999;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.enumerar{
	background-color:#3771c8 !important; 
	color:white !important; 
	margin-bottom: 2em;
}
.thumbnail{
	height: 260px;
}
.action{
	padding-top: 1%;
	background-color: rgba(12,12,12,.8);
}




/*------------------------------------------*/
/*	 Footer Icons Hover
/*------------------------------------------*/

.ico-facebook:hover {background-color: #3b5998;color: #f8f8f8;}
.ico-twitter:hover {background-color: #00a9ed;color: #f8f8f8;}
.ico-google-plus:hover {background-color: #cd1111;color: #f8f8f8;}
.ico-linkedin:hover {background-color: #015886;color: #f8f8f8;}
.ico-dribbble:hover {background-color: #d92d84;color: #f8f8f8;}
.ico-instagram:hover {background-color: #beb3a8;color: #f8f8f8;}
.ico-pinterest:hover {background-color: #ac281a;color: #f8f8f8;}
.ico-dropbox:hover {background-color: #008ad2;color: #f8f8f8;}
.ico-skype:hover {background-color: #00a9ed;color: #f8f8f8;}
.ico-youtube:hover {background-color: #cd1b20;color: #f8f8f8;}
.ico-tumblr:hover {background-color: #3a5976;color: #f8f8f8;}
.ico-vimeo:hover {background-color: #00adee;color: #f8f8f8;}
.ico-flickr:hover {background-color: #d2d2d2;color: #f8f8f8;}
.ico-github:hover {background-color: #222;color: #f8f8f8;}
.ico-renren:hover {background-color: #364a83;color: #f8f8f8;}
.ico-vk:hover {background-color: #3b5998;color: #f8f8f8;}
.ico-xing:hover {background-color: #015f5e;color: #f8f8f8;}
.ico-weibo:hover {background-color: #be4443;color: #f8f8f8;}
.ico-rss:hover {background-color: #ff6600;color: #f8f8f8;}



/* ==========================================================================
   10. SCROLL TO TOP
   ========================================================================== */

#scrollUp {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-image: url(../img/icons/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color:rgba(123, 123, 123, 0.65);
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;
}

#scrollUp:hover {
	background-color: rgba(66, 139, 202, 0.95);
}

nav a#pull {
    display: none;
}

.super-logo {
	margin-top: -10px;
    height: 55px;
}
.customNavigation {
	display: none;
}

.activo{
	background-color: #3373c2;
	color:white;
}
.divConference{
	padding-top: 10px;
	padding-bottom: 10px;
}
.divConference:hover{
	background-color: #d75e61;
	color: white;
}
.conferencia img{
	margin: 3px; 
}



/********************/
/*  Redes sociales  */
/********************/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper a{
	font-size: 3em;
	color: white;
}
.meetup {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.twitter {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: #2398d2;
}
.facebook { 
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: #3B5998;
}
.medium {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  background-color: black;
}
.slack {
  grid-column: 3 / 4;
  grid-row: 4;
  background-color: white;
}
.youtube {
  grid-column: 3 / 4;
  grid-row: 5;
  background-color: white;
}
.slack img{
	width: 90%;
	margin: 0 auto; 
	margin-top: 5%;
}
.youtube img{
	width: 90%;
	margin: 0 auto; 
	margin-top: 5%;
}
@media (max-width: 480px) {
	.wrapper {
	  display: grid;
	  grid-gap: 10px;
	  grid-auto-rows: minmax(100px, auto);
	}
	.wrapper a{
		font-size: 3em;
		color: white;
	}
	.twitter {
	  grid-row: 1 / 2;
	  grid-column: 1 / 4;
	}
	.meetup {
	  grid-row: 2 / 3;
	  grid-column: 1 / 4;
	}
	.facebook { 
	  grid-row: 3 / 4;
	  grid-column: 1 / 4;
	}
	.medium {
	  grid-row: 4 / 5;
	  grid-column: 1 / 4;
	}
	.slack {
	  grid-row: 5 / 6;
	  grid-column: 1 / 4;
	}
	.youtube {
	  grid-row: 6 / 7;
	  grid-column: 1 / 4;
	}
	.facebook img{
		width: 30%;
		margin: 0 auto; 
		margin-top: 20%;
	}
	.slack img{
		width: 90%;
		margin: 0 auto; 
		margin-top: 5%;
	}
	.youtube img{
		width: 90%;
		margin: 0 auto; 
		margin-top: 5%;
	}
	.titulo-socrates{
		margin-top: 10%;
	}
}
